body, html {
    background-color: rgb(57, 55, 55);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.signup,
.signin {
    margin-top: 50px;
    margin-left: 25%;
    padding: 10px;       
    border-radius:4px;
    background-color: rgb(32, 29, 29);
    width: 50%;
    border: 1px solid white;
}

footer {
    text-align: center;
    margin-top: 260px;
    font-size: 10px;
}