body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(57, 55, 55);
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px 20px;
  }

  .logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }

  .search-bar {
    flex-grow: 1;
    text-align: center;
  }

  .search-input {
    padding: 8px;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 20px;
  }

  .search-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .content-wrapper {
    margin: 30px 20px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  .content-wrapper {
    margin: 30px 100px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .huge-text {
    font-size: 8em;
    margin-bottom: 20px;
    margin-top: auto;
  }
